/*去掉leaflet右下角版权标志*/
.leaflet-control-attribution {
    display: none;
}

#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 让 Leaflet 瓦片变为黑白 */
.leaflet-tile {
    filter: grayscale(100%) !important;
}

.map-container {
    background-color: rgba(0, 0, 0, 0.6);
}
